.card {
    width: 250px;
    border: 2px solid #79d279;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
}

.product-img {
    height: 150px;
    display: block;
    margin: 0 auto;
}

.product-title{
    margin: 0;
    padding: 0;
    text-align: center;
}

.product-price{
    margin: 10px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.btn-buyNow{
    background-color:#00e600;
    color: white;
    border: none;
    display: block;
    padding: 8px 60px;
    font-weight: bold;
    margin: 10px auto;
    border-radius: 8px;
    cursor: pointer;
}

.btn-buyNow:hover{
    background-color: #009900;
    transition: 0.3s;
}

.quantity-icon{
    height: 25px;
    margin: 5px 15px;
    cursor: pointer;
}

.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.product-description{
    margin: 10px;
    text-align: center;
}